node_modules
lib
.DS_Store
coverage
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
lerna-debug.log*

# Runtime data
*.pid
*.pid.lock
*.seed

# Coverage
*.lcov
.nyc_output

# TypeScript
*.tsbuildinfo

# npm
.npm
*.tgz

# dotenv
.env
.env.*

# Build output
dist

# Vitepress
.vitepress/dist

# IDE
.vscode
.trae
.idea

# Claude
.claude

semo-plugin-manifest.json
